.grid-container{
    margin: 150px auto;
    cursor: pointer;
}
.img-preview{
    height: 92%;
    width: 100%;
    object-fit: contain;
    margin-top: 70px;
    margin-bottom: 80px;
}

.try1{
    height: 900vh !important;
}
.list{
    cursor: pointer;
}

.list:hover{
    background-color: lightblue;
}